.slides {
  display: none;
}

.slides.active {
  display: block;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 300;
}

.slides > * {
  background-color: black;
  min-height: 100vh;
  width: 100vw;

  padding-top: 8rem;
}

.slides .content {
  width: min(80vw, 900px);
  margin-inline: auto;
}

.slides .notion-h-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.slides .notion-h1 {
  font-size: 3rem;
}

.slides .notion-h::after {
  content: '';
  height: 0.3rem;
  width: 3rem;
  margin-block: 0.4rem 3rem;
  display: block;
  background: var(--blue);
  border-radius: 9999px;
}

.slides .content > *:not(.notion-h) {
  color: hsla(0, 0%, 100%, 0.8);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 1.3rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1.3;
}

.slides .notion-inline-code {
  background: var(--dark-1) !important;
  color: var(--blue);
}
